{% extends "base.html" %}
{% load url from future %}


{% block container %}
<div class="row-fluid">
    <div class="span2">
        <ul class="nav nav-list" data-spy="affix" data-offset-top="50">
            <li><a href="{% url 'collector_torrent_list' %}"><i class="icon-chevron-right"></i> Torrents</a></li>
            <li><a href="{% url 'collector_client_list' %}"><i class="icon-chevron-right"></i> Clients</a></li>
        </ul>
        {% block controls %}
        {% endblock controls %}
    </div>
    <div class="span10">
        {% block collector%}
        {% endblock collector%}
    </div>
</div>
{% endblock %}